@use '../../util/' as * ;

.intro {
  @include gradient;
  height: 90%;
  color: white;
  padding: min(2.5rem) 0 0 0;

  @include breakpoint(medium){
    padding: 6rem 0 0 0;
  }

  @include breakpoint(large) {
    padding: 3rem 0 0 0;
  }

  &__grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 8rem 14rem 5rem;
    gap: 1.5rem;
    
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 5rem 25rem 5rem;
      align-items: center;
      row-gap: 5rem;
      column-gap: 3rem;
    }

    @include breakpoint(large) {
      margin: 5vh auto;
      grid-template-rows: 5rem 10rem 5rem;
    }

    @include breakpoint(xxlarge) {
      margin: 10vh auto;
    }

  }
}