@use "../../util/" as *;

.skills__grid__header {
  display: grid;
  justify-items: center;
  gap: 1rem;

  &__headline h3 {
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: clamp(1.7rem, 1rem + 1.5vw, 5rem);
    margin-bottom: 1vh;
  }

  &__headline div::before {
    content: "";
    width: clamp(12rem, 5rem + 15vw, 40rem);
    height: clamp(0.1rem, 0.2vh, 0.5rem);
    display: block;
    margin: 0 auto;
    background-color: $primary;
  }

  &__headline div::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    & > * {
      font-size: 2rem;
    }

    & .html {
      color: rgb(67, 62, 62);
    }

    & .sass {
      color: $primary;
    }

    & .js {
      color: #0c2f48;
    }

    & .react {
      color: #0f6db1;
    }

    & .node {
      color: rgb(1, 73, 1);
    }

    & .mongo {
      color: #1a8c48;
    }

    & > *:hover {
      scale: 1.5;
    }
  }
}
