@use '../../util/' as *;

.contact {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 80%;
  max-width: 30rem;

  & h1 {
    text-align: center;
    color: rgb(51, 43, 105);
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
 
    &__text {
      border: 0.1rem solid rgb(161, 161, 161);
      box-shadow: rgba(118, 25, 111, 0.24) 0px 5px 15px;
      border-radius: 5px;
      font-size: .8rem;
      height: 2rem;
      outline: none;

      &:focus {
      border: 0.1rem solid $primary;
      }
    }

    &__btn {
      padding: 0.4rem ;
      border: 0.1rem solid $primary;
      border-radius: 25px;
      background-color: white;

      &:hover {
        @include gradient;
        color: white;
        border: 0.1rem solid white;
      }
    }

  }

  & textarea {
    height: 5rem;
  };

}